.button {
  display: inline-block;
  border: none;
  background: transparent;
  font-family: var(--body-font);
  text-decoration: none;
}

.icon-button {
  padding: 0.5rem 0.8rem;
  display: inline-flex;
  align-items: center;
}

.primary-button {
  color: white;
  background-color: #3a6150;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.primary-button:focus,
.primary-button:hover {
  cursor: pointer;
  background-color: #345747;
  outline: 3px solid #93d1b7;
}

.primary-button:active {
  background-color: #406b58;
  outline: none;
}

.primary-button.icon-button {
  background-color: #3a6150;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon-button:hover {
  cursor: pointer;
}

.primary-button.icon-button:hover {
  cursor: pointer;
  background-color: rgb(34, 57, 47);
}
