@import "tailwindcss";

@theme {
  --color-primary: #3a6150;
  --color-secondary: #71837b;

  --font-family-title: "Fira Sans", sans-serif;
  --font-family-body: "Source Sans 3", sans-serif;

  --box-shadow-header: 0px 3px 0px 0px #00000026;

  --screen-sm: 768px;
  --screen-md: 1024px;
  --screen-lg: 1280px;
  --screen-xl: 1536px;
  --screen-2xl: 1920px;
}
