.customCard__container {
  display: flex;
  gap: 1.1rem;
  background-color: #3a6150;
  padding: 1.5rem;
  padding-bottom: 2.2rem;
  align-items: flex-start; /* Aligns items to the top */
}

.customCard__image {
  object-fit: cover;
  flex-shrink: 0; /* Prevents shrinking */
}

.customCard__content {
  flex: 1; /* Allows text area to grow */
  color: white;
}
